<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <div>
        <!--
            <ul>
            <li><span th:text="${nameerr}"></span></li>
            <li><span th:text="${lastnameerr}"></span></li>
            <li><span th:text="${birth}"></span></li>
            <li><span th:text="${birthPerr}"></span></li>
            <li><span th:text="${schoolerr}"></span></li>
            <li><span th:text="${phoneerr}"></span></li>
            <li><span th:text="${cellphoneerr}"></span></li>
            </ul>
        -->
        <p><span th:text="${nameerr}"></span></p>

        <p><span th:text="${lastnameerr}"></span></p>

        <p><span th:text="${birth}"></span></p>

        <p><span th:text="${birthPerr}"></span></p>

        <p><span th:text="${schoolerr}"></span></p>

        <p><span th:text="${phoneerr}"></span></p>

        <p><span th:text="${cellphoneerr}"></span></p>

    </div>
    <div>
        <form action="#" th:action="@{/agregar}" th:object="${alumno}" method="post">
            <input type="submit" value="Ingresar nuevo alumno">
        </form>
    </div>
</body>
</html>